<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alpine JS - Components</title>

    <style>
      [x-cloak] {
        display: none !important;
      }

      body {
        text-align: center;
        min-height: 300vh;
      }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"
      defer
    ></script>
  </head>
  <body class="bg-gray-100">
    <h1 class="text-5xl">Alpine.js Components</h1>

    <!-- Dropdown -->
    
    <!-- Modal -->
    
    <!-- Tabs -->
    
    <!-- Carousel -->
    
    <!-- Accordion -->
    
    <!-- Notification -->
    
    <!-- Popover -->
    

    <script src="./app.js"></script>
  </body>
</html>
